@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
 
}

.padding-div {
    padding: 2%;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    border: rgb(0, 137, 139) solid 4px;
    border-radius: 10px;
    background-color: #85c9d3; 
    padding: 10px; 
    width: 100%;
    
}

.flow-text {
    font-size: 20px;
}


ul {
    background-color: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
.nav-wrapper {
    font-family: 'Montserrat', sans-serif;
    background-color: #265d67;
}

.sidenav {
    font-family: 'Montserrat', sans-serif;
    background-color: #265d67;
}

.sidenav li:hover {
        background-color: white;
        color: rgb(31, 27, 27);
        font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal {
    border: mediumaquamarine 4px solid;
    border-radius: 10px;
    padding: 5%;
}


.dropdown-content {
    width: max-content !important;
    height:auto !important;
 }

#contact {
    font-family:'Courier New', Courier, monospace

}
#contact a:hover {
    background-color: white;
    color: rgb(31, 27, 27);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.page-footer {
    background-color: #85c9d3; 
    width: 100%;
}