@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color:lightblue;
    max-width: 100%;
    margin: auto;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    border: rgb(0, 137, 139) solid 4px;
    background-color: #85c9d3; 
    padding: 10px; 
    
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

} */

h4 {
    font-family: 'Montserrat', sans-serif;
}
.nav-content{
    font-family: 'Montserrat', sans-serif;
    background-color: #265d67;
}

.card {
    background-color: #eaf4f5;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
 }

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    
} 
