@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
 
}


h1 {
    opacity: 85%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    border-radius: 10px;
    background-color: #85c9d3; 
    padding: 10px; 
    width: 100%;
    
}

.flow-text {
    font-size: 20px;
}


ul {
    background-color: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
.nav-wrapper {
    font-family: 'Montserrat', sans-serif;
    background-color: #265d67;
}


.sidenav {
        color: white;
        opacity: 85%;
    
    font-family: 'Montserrat', sans-serif;
    background-color: #265d67;
}

.sidenav li:hover {
        background-color: white;
        color: rgb(31, 27, 27);
        font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal {
    border: mediumaquamarine 4px solid;
    border-radius: 10px;
    padding: 5%;
}

#myChart {
    width: 100%;
    height: auto;
}

#choice-text1, #choice-text2, #choice-text3, #choice-text4 {
    color: white;
    font-weight: bold;
}


.dropdown-content {
    width: max-content !important;
    height:auto !important;
 }

#contact {
    font-family:'Courier New', Courier, monospace

}
#contact a:hover {
    background-color: white;
    color: rgb(31, 27, 27);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.page-footer {
    background-color: #85c9d3; 
    width: 100%;
}

#userinput1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#userinput2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#feelingInput {
    color: white;
    font-size: 25px;
    font-weight: bold;
}