body {
    background-color: #ffcdd2;
    max-width: 100%;
    margin: auto;
}
h1 {
    background-color: #ef9a9a; 
    padding: 10px; 
    font-family: 'Times New Roman', Times, serif;
}
.nav-content{
    background-color: #ff5252;
    margin: auto;
}

.card {
    background-color: #ff8a80;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#popUpBox{
width: 500px;
display: hidden;
background: pink;
box-shadow: 0 0 10px black;
border-radius: 10px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
padding: 10px;
text-align: center;
}